{% from "_macros/nav_link.html" import nav_link %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">

    <title>Morey Chickens{% if title %} | {{ title }}{% endif %}</title>
    <meta name="og:title" content="Morey Chickens{% if title %} | {{ title }}{% endif %}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jack-hermanson-css-lib/css/main.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="og:url" content="{{ request.url }}">
    <meta name="og:image" content="{{ url_for('static', filename='images/chicken_og_tag_img.jpg', _external=True) }}">
    <meta name="og:description"
          content="The Morey Community Garden has a chicken coop/co-op. This is it!">
    <meta property="og:type" content="website"/>
    <meta property="og:logo" content="{{ url_for("static", filename="favicon.png") }}"/>
    <script src="{{ url_for("static", filename="node_modules/htmx.org/dist/htmx.min.js") }}"></script>
</head>
<body class="d-flex flex-column min-vh-100">


<div class="flex-grow-1 d-flex">
    <div class="row d-flex flex-grow-1 gx-0">
        <div
            id="nav"
            class="offcanvas-lg offcanvas-start col-lg-2 h-100 flex-grow-1 px-lg-2 sidebar border-end overflow-y-auto"
        >
            {# DESKTOP ONLY #}
            <nav class="navbar">
                <div class="container-fluid">
                    <a href="{{ url_for('main.index') }}" class="navbar-brand d-flex mx-auto">
                        <img alt="logo" src="{{ url_for("static", filename="favicon.png") }}" height="25"
                             class="d-inline-block my-auto logo me-1">
                        <span class="d-inline-flex align-items-center my-auto pt-1">
                            <span>
                                Morey Chickens
                                {# desktop #}
                            </span>
                            {% if environment != "production" %}
                                <span
                                    class="env-label d-flex my-auto pt-1 ms-2"
                                >
{#                                    {{ '{' }}#}
                                    {% if environment == "development" %}
                                        dev
                                    {% else %}
                                        {{ environment }}
                                    {% endif %}
                                    {#                                    {{ '}' }}#}
                                </span>
                            {% endif %}
                        </span>
                    </a>
                </div>
            </nav>
            <div class="container-fluid pt-0">
                <nav class="nav nav-pills flex-column h-100">
                    {{ nav_link(href=url_for("about.index"), active=(active_route == "about"), icon="fa-egg", text="About / FAQs") }}
                    {{ nav_link(href="#", active=(active_route == "support"), icon="fa-hand-holding-heart", text="Support the Chickens") }}
                    {{ nav_link(href="#", active=(active_route == "contact"), icon="fa-comments", text="Contact Us") }}


                    {% if current_user.is_authenticated and current_user.clearance >= ClearanceEnum.NORMAL %}
                        <hr class="my-2">
                        {{ nav_link(href=url_for('main.index'), active=(active_route == "main"), icon="fa-home", text="Dashboard") }}
                        {{ nav_link(href="#", active=(active_route == "schedule"), icon="fa-calendar-days", text="Schedule") }}
                        {{ nav_link(href="#", active=(active_route == "notebook"), icon="fa-book-open", text="Notebook") }}
                        {{ nav_link(href=url_for("ledger.index"), active=(active_route == "ledger"), icon="fa-piggy-bank", text="Finances") }}
                        {{ nav_link(href="#", active=(active_route == "maintenance"), icon="fa-screwdriver-wrench", text="Maintenance") }}
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.clearance >= ClearanceEnum.ADMIN %}
                        {{ nav_link(href="#", active=(active_route == "admin"), icon="fa-cog", text="Admin") }}
                    {% endif %}
                    <hr class="my-2">
                    {{ nav_link(href="#", active=(active_route == "help"), icon="fa-question", text="Help") }}
                    {% if current_user.is_authenticated %}
                        {{ nav_link(href=url_for('accounts.me'), active=(active_route == "accounts"), icon="fa-user", text=(current_user.name)) }}
                    {% else %}
                        {{ nav_link(href=url_for('accounts.login'), active=(active_route == "accounts"), icon="fa-user", text="Login") }}
                    {% endif %}

                </nav>
            </div>
            <div class="mt-auto pb-3 d-flex d-lg-none">
                <button data-bs-toggle="offcanvas" data-bs-target="#nav"
                        class="btn btn-outline-secondary mx-auto">
                    <i class="fa fa-times me-1"></i>
                    Close
                </button>
            </div>
        </div>
        <div class="col-12 col-lg-10 px-lg-2 mb-3">
            {# MOBILE ONLY #}
            <div class="d-lg-none">
                <nav class="navbar mobile-nav">
                    <div class="container-fluid">
                        <a href="{{ url_for('main.index') }}" class="navbar-brand d-flex">
                            <h4 class="d-inline-flex align-items-center my-auto">
                                {#  todo - abstract out repeated stuff #}
                                <img alt="logo" src="{{ url_for("static", filename="favicon.png") }}" height="30"
                                     class="d-inline-block align-text-top logo me-1">
                                <span class="me-1">
                                    Morey Chickens
                                    {# mobile #}
                                </span>
                                {% if environment != "production" %}
                                    <span
                                        class="env-label d-flex my-auto pt-1"
                                    >
                                        {{ ' {' }}
                                        {% if environment == "development" %}
                                            dev
                                        {% else %}
                                            {{ environment }}
                                        {% endif %}
                                        {{ '}' }}
                                    </span>
                                {% endif %}
                            </h4>
                        </a>


                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#nav">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    </div>
                </nav>
            </div>

            <div class="container-fluid pt-3" id="main-container">

                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <div class="mb-2">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} no-mb-last">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="mb-0">{{ message }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                {% block tabs %}
                {% endblock tabs %}

                {% block breadcrumbs %}
                {% endblock breadcrumbs %}

                {% if not hide_title_row %}
                    <div class="row">
                        <div class="col-12">
                            <div
                                class="page-title {% if subtitle %}mb-1{% else %}mb-3{% endif %} {% if title_row_no_border %}no-border-bottom{% endif %}">
                                <h2 class="mb-0">
                                    {% if title %}
                                        {{ text_title if text_title else title }}
                                    {% endif %}
                                </h2>
                                <div class="actions">
                                    {% block actions %}

                                    {% endblock actions %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if subtitle %}
                        <p class="lead">{{ subtitle }}</p>
                    {% endif %}
                {% endif %}

                {% block body %}{% endblock body %}
            </div>
        </div>
    </div>
</div>


{% block modals %}{% endblock modals %}

<script src="{{ url_for("static", filename="node_modules/bootstrap/dist/js/bootstrap.bundle.js") }}"></script>

{% block scripts %}{% endblock scripts %}
<footer class="border-top py-3">
    <div class="container-fluid">
        <div class="d-flex px-lg-2">

            <div class="me-auto d-flex">
                <span class="h6 text-muted my-auto font-monospace small">Version
                    {% if current_user.is_authenticated %}
                        <a href="https://github.com/jack-hermanson/chicken-coop-v2/commit/{{ commit }}"
                           target="_blank">{{ commit }}</a>
                    {% else %}
                        {{ commit }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="{{ url_for('static', filename='node_modules/alpinejs/dist/cdn.js') }}"></script>

</html>