{% extends "base.html" %}

{% from "_macros/action_dropdown.html" import action_dropdown, action_dropdown_item, action_dropdown_separator, action_dropdown_modal_toggle %}
{% from "_macros/form.html" import form_group %}
{% from "_macros/delete_modal.html" import delete_modal %}

{% if mode == CrudEnum.CREATE %}
    {% set title = "Create Ledger Item" %}
    {% set subtitle = "Add a new item to the ledger. This can be a credit (income) or debit (expense)." %}
{% elif mode == CrudEnum.UPDATE %}
    {% set title = "Edit Ledger Item" %}
    {% set subtitle = "Make changes to this item in the ledger." %}
{% endif %}
{% set active_route = "ledger" %}

{% block actions %}
    {% if mode == CrudEnum.UPDATE %}
        {% call action_dropdown() %}
            {{ action_dropdown_modal_toggle("Delete", "#delete-ledger-item") }}
        {% endcall %}
    {% endif %}
{% endblock %}




{% block body %}
    <div class="row">
        <div class="col">
            <form action="{{ url_for(request.endpoint, **request.view_args) }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="row col-12 col-lg-6">
                    {{ form_group(form, name="ledger_item_type", required=True) }}
                    {{ form_group(form, name="ledger_item_date", required=True) }}
                    {{ form_group(form, name="amount", required=True) }}
                    {{ form_group(form, name="description", required=True) }}
                </div>
                <div class="bottom-buttons">
                    {{ form.submit(class="btn btn-success") }}
                    <a href="{{ url_for(request.endpoint, **request.view_args) }}" class="btn btn-secondary">Reset</a>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}


{% block modals %}
    {% if mode == CrudEnum.UPDATE %}
        {% call delete_modal(title="Delete Ledger Item", id="delete-ledger-item", url=url_for("ledger.delete", ledger_item_id=form.ledger_item_id.data)) %}
            <p class="mb-0">
                Are you sure you want to delete this ledger item?
            </p>
        {% endcall %}
    {% endif %}
{% endblock modals %}