{% extends "base.html" %}

{% from "_macros/action_dropdown.html" import action_dropdown, action_dropdown_item, action_dropdown_separator %}

{% set title = "Finances" %}
{% set subtitle = "This is where we keep track of incomes and expenses." %}
{% set active_route = "ledger" %}

{% block actions %}
    {% call action_dropdown() %}
        {% if current_user.clearance >= ClearanceEnum.ADMIN %}
            {{ action_dropdown_item("Add Ledger Item", url_for("ledger.create")) }}
            {{ action_dropdown_separator() }}
        {% endif %}
        {{ action_dropdown_item("Export", "#") }}
    {% endcall %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" class="text-nowrap">
                            <a href="{{ url_for("ledger.index", order_by="date", desc=(not sort_and_filter_params.desc)) }}">
                                Date
                                {% if sort_and_filter_params.order_by == "date" %}
                                    {% if sort_and_filter_params.desc %}
                                        &uarr;
                                    {% else %}
                                        &darr;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th scope="col" class="text-nowrap">
                            <a href="{{ url_for("ledger.index", order_by="amount", desc=(not sort_and_filter_params.desc)) }}">
                                Amount ($)
                                {% if sort_and_filter_params.order_by == "amount" %}
                                    {% if sort_and_filter_params.desc %}
                                        &uarr;
                                    {% else %}
                                        &darr;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th scope="col">New Balance ($)</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="text-nowrap">
                            <a href="{{ url_for("ledger.index", order_by="user", desc=(not sort_and_filter_params.desc)) }}">
                                User
                                {% if sort_and_filter_params.order_by == "user" %}
                                    {% if sort_and_filter_params.desc %}
                                        &uarr;
                                    {% else %}
                                        &darr;
                                    {% endif %}
                                {% endif %}
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ledger_item in ledger_items %}
                        <tr>
                            <td>
                                {% if current_user.clearance >= ClearanceEnum.ADMIN %}
                                    <a href="{{ url_for("ledger.edit", ledger_item_id=ledger_item.ledger_item_id) }}">
                                        {{ ledger_item.ledger_item_id }}
                                    </a>
                                {% else %}
                                    {{ ledger_item.ledger_item_id }}
                                {% endif %}
                            </td>
                            <td>{{ ledger_item.ledger_item_date.strftime("%-m/%-d/%y") }}</td>
    {#

                            {# AMOUNT #}
                            <td class="font-monospace">
                                <span class="badge fs-6 bg-{% if ledger_item.ledger_item_type == LedgerItemTypeEnum.DEBIT %}danger{% else %}success{% endif %}">
                                    {{ "%.2f"|format(ledger_item.amount) }}
                                </span>
                            </td>
                            {# BALANCE #}
                            <td class="font-monospace">
                                {{ "%.2f"|format(ledger_item.balance) }}
                            </td>

                            <td>{{ ledger_item.description }}</td>
                            <td>{{ ledger_item.created_by_user }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}