<h2>Donate</h2>
<p class="mb-1">
    Give your neighborhood chickens some love!
    <a href="https://venmo.com/u/moreychickencoop" target="_blank" rel="noopener noreferrer nofollow">Click here</a>
    to donate via Venmo (please mark as a donation in the description).
</p>
<ul>
    <li>
        Treats ($5)
        <p class="small mb-0 text-muted">The chickens love mealworms, corn, and kale!</p>
    </li>
    <li>
        A Month of Tasty Food ($50)
        <p class="small mb-0 text-muted">
            We buy the 40lb bag of
            <a href="https://www.scratchandpeck.com/product/organic-layer-mash/" target="_blank">organic scratch and
                peck layer mash</a> chicken feed from Curve Feed Supply in Lakewood.
        </p>
    </li>
    <li>
        Trip to the Vet ($100)
        <p class="small mb-0 text-muted">Veterinary emergencies are not cheap.</p>
    </li>
</ul>
